@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
html { height: 98px; }

body { min-height: 98px; margin: 0; padding: 10px; font-family: "PT Sans", Arial, sans-serif; font-size: 16px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 1.3; }
body ul { padding-left: 10px; margin: 0; }
body ul li { position: relative; padding-bottom: 5px; padding-left: 17px; list-style-type: none; }
body ul li:before { content: ""; position: absolute; top: 7px; left: 0; width: 5px; height: 5px; background: #8dc2d1; border-radius: 50%; }
body ol { margin: 0; padding-left: 10px; counter-reset: numbers; }
body ol li { position: relative; padding-bottom: 5px; padding-left: 20px; list-style-type: none; }
body ol li:before { counter-increment: numbers; content: counter(numbers) ". "; position: absolute; top: 0; left: 0; color: #8dc2d1; }
