// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

$bl: #009bc7
$bld: #007292
$bll: #3aaaca
$blg: #70a8b8
$btn: #17748F
$btnh: #005973
$bg: #e5f9ff
$ava: #8dc2d1

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic)
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic)
=f
	font-family: "PT Sans", Arial, sans-serif
=fn
	font-family: "PT Sans Narrow", Arial, sans-serif
=smooth
	-webkit-font-smoothing: antialiased
=title
	+fn
	font-size: 20px
	font-weight: 700
	color: $bld
	line-height: 1.1
	a
		color: $bld

body
	min-width: 1020px
	+f
	font-size: 13px
	line-height: 1.3
	&.no-scroll
		overflow: hidden
button, input, textarea
	+f
	font-size: 13px
button
	background: none
a
	text-decoration: none
	color: $bld
	&:hover
		text-decoration: underline

.h-wrap
	margin-bottom: 25px
	.h, .checkbox
		display: inline-block
		vertical-align: middle
	.h
		margin: 0
		padding: 2px 0
	.checkbox
		margin: 0 0 0 30px

.h
	margin-bottom: 25px
	+title
	a
		&:hover
			color: $bll 
	&.h_big
		font-size: 25px
		color: #000
	&.h_border
		margin: 0
		padding-bottom: 10px
		border-bottom: 10px solid $bll
	&.h_border-think
		padding-bottom: 25px
		border-bottom: 1px solid $ava
	&.h_light
		color: $bll
		a
			&:hover
				color: $btn 
	&.h_gray
		color: $blg
		a
			&:hover
				color: $btn 
	&.h_white
		color: #fff
	&.h_mb0
		margin-bottom: 0
	&.h_mb5
		margin-bottom: 5px
	&.h_mb10
		margin-bottom: 10px
	&.h_mb15
		margin-bottom: 15px
	&.h_mb20
		margin-bottom: 20px

.placeholder
	color: #aaa

// common blocks
.wrapper
	position: relative
	padding-bottom: 50px
	overflow: hidden

.l-center
	position: relative
	width: 1020px
	margin: 0 auto
	padding: 0 20px
	+clr
	&.l-center_mb25
		margin-bottom: 25px
	.l-center
		width: 100%
		padding: 0
	.l-column
		float: left
		width: 230px
		margin-left: 20px
		&:first-child
			margin: 0
		&.l-column_three
			width: 730px
		&.l-column_two
			width: 480px

.rub
	position: relative
	display: inline-block
	// +hide-text
	// &:before
	// 	content: ""
	// 	position: absolute
	// 	left: 0
	// 	top: 50%
	// 	margin-top: -10px
	// 	+s(roubl)
	&:after
		content: ""
		position: absolute
		top: 58%
		left: 50%
		height: 2px
		width: 14px
		margin-left: -8px
		background: #000

.rub.rub.rub
	padding-left: 0
	vertical-align: baseline


.up
	position: fixed
	right: 0
	bottom: 0
	height: 40px
	padding: 0 25px
	background: $bl
	font-size: 0
	z-index: 99
	&:hover
		background: $btnh
	i, span
		display: inline-block
	i
		margin-right: 10px
		+s(arr-top)
	span
		+fn
		font-size: 20px
		font-weight: 700
		color: #fff

.bg
	&.bg_main
		margin: -65px 0 25px
		padding-top: 65px
		background: $bg
	&.bg_direction
		position: relative
		padding: 20px 0 10px
		background: $ava
		&:before, &:after
			content: ""
			position: absolute
			top: 0
			bottom: 0
			width: 2000px
			background: $ava
		&:before
			left: -2000px
		&:after
			right: -2000px
		.l-column
			position: relative
			z-index: 2
	&.bg_footer
		padding: 30px 0
		background: $bg
	&.bg_el
		margin-top: -70px
		border-top: 70px solid $bg
		.l-column
			position: relative
			z-index: 2
		.el_single
			position: relative
			background: $bg
			&:before, &:after
				content: ""
				position: absolute
				top: 0
				bottom: 0
				width: 2000px
				background: $bg
			&:before
				left: -2000px
			&:after
				right: -2000px
	&.bg_section
		position: relative
		margin-bottom: 40px
		padding: 30px 0 10px
		background: $bg
		&:before, &:after
			content: ""
			position: absolute
			top: 0
			bottom: 0
			width: 2000px
			background: $bg
		&:before
			left: -2000px
		&:after
			right: -2000px

.header
	margin-bottom: 30px
	.header__middle
		min-height: 80px
		+clr
	.header__title
		display: table
		padding: 20px 0
		+fn
		font-size: 40px
		font-weight: 700
		line-height: 1
	.header__banners
		font-size: 0
	.social
		float: right
		margin: 25px 0 0 30px

.topper
	height: 50px
	background: #000
	.topper__nav
		float: left
		margin-right: 20px
		a
			float: left
			margin-left: 20px
			+fn
			font-size: 16px
			font-weight: 700
			color: #FFF
			text-transform: uppercase
			line-height: 50px
			&:first-child
				margin: 0
	.topper__links
		float: left
		a
			float: left
			margin-left: 20px
			+fn
			font-size: 12px
			text-transform: uppercase
			color: #FFF
			line-height: 50px
			&:first-child
				margin: 0
			&.is-active
				color: #00c7ff
				text-decoration: none
				cursor: default
	.topper__logo
		float: right
		margin-top: 4px
		+s(logo)

.top
	height: 30px
	background: $bg
	.top__age
		float: left
		margin-right: 25px
		line-height: 30px
		+fn
		font-size: 20px
		font-weight: 700
	.top__nav
		float: left
		margin-right: 25px
		a
			position: relative
			float: left
			margin-left: 20px
			+fn
			font-size: 12px
			text-transform: uppercase
			color: #000
			line-height: 30px
			&:before
				content: ""
				position: absolute
				top: 13px
				left: -12px
				width: 4px
				height: 4px
				background: #00c7ff
				border-radius: 50%
			&:first-child
				margin: 0
				&:before
					display: none
	.top__work
		float: left
		margin: 6px 20px 0 0
		padding: 0 7px
		border-radius: 3px
		background: #00c7ff
		text-transform: uppercase
		+fn
		font-weight: 700
		color: #000
		line-height: 18px
		text-decoration: none
		&:hover
			background: $btn
			color: #FFF 
	.top__news
		float: left
	.top__news-pic
		float: left
		height: 30px
		margin-right: 8px
		font-size: 0
		img
			position: relative
			top: -8px
	.top__news-text
		float: left
		line-height: 30px
		font-size: 11px
		color: #000
	.top__login
		float: right
		a
			float: left
			padding: 0 5px
			+fn
			text-transform: uppercase
			line-height: 30px
			color: #000
			&:hover
				background: #00c6ff
				text-decoration: underline
				color: #fff
	.top__profile
		float: right
		line-height: 30px
		+fn
		text-transform: uppercase
		color: #000
		span
			position: relative
			float: right
			padding: 2px 4px 0
			margin: 5px 0 0 7px
			background:	#00c7ff
			border-radius: 2px
			line-height: 1
			color: #000
			font-weight: 700
			&:before
				content: ""
				position: absolute
				bottom: -5px
				left: 3px
				+arr(5,5,#00c7ff,tl)

.social
	font-size: 0
	&.social_small
		.social__list
			a
				width: 20px
				height: 20px
				border: 1px solid #fff
				&:hover
					background: transparent
					border-color: #fff
		.social__vk
			+s(vk-small)
		.social__fb
			+s(fb-small)
	.social__title, .social__list
		display: inline-block
		vertical-align: top
	.social__title
		margin-right: 15px
		+fn
		font-size: 13px
		color: $blg
		line-height: 30px
		text-transform: uppercase
	.social__list
		a
			display: inline-block
			width: 30px
			height: 30px
			margin-left: 5px
			border-radius: 50%
			border: 2px solid $blg
			vertical-align: top
			+vertical
			&:first-child
				margin: 0
			&:hover
				background: $bg
				border-color: $bll
		i
			display: inline-block
			vertical-align: middle
	.social__vk
		+s(vk)
	.social__fb
		+s(fb)
	.social__tw
		+s(tw)
	.social__ok
		+s(ok)
	.el__row-right &
		position: relative
		top: -7px
	.el_single .el__row-right &
		position: relative
		top: -2px

.search
	margin-bottom: 30px
	.search__form
		padding: 20px
		background: $bll
		+clr
		.input
			float: left
			width: 710px
			border: none
		.btn
			float: right
			width: 210px
			font-size: 25px
	.search__head
		+clr
	.search__type
		position: relative
		float: right
		width: 53%
		margin-top: 10px
		padding: 7px 20px 9px
		border: 2px solid $bll
		border-width: 2px 2px 0
		z-index: 2
		&:first-child
			float: left
			width: 47%
			&.is-active
				width: 50%
				&:before
					left: auto
					right: -42px
					border-width: 55px 0 0 40px
					border-color: transparent transparent transparent $bll
				& + .search__type
					width: 50%
					padding-left: 45px
		&.is-active
			margin: 0
			padding: 12px 18px 9px
			background: $bll
			z-index: 4
			&:before
				content: ""
				position: absolute
				top: -2px
				left: -42px
				+arr(40,55,$bll,br)
			.search__title
				margin-top: -2px
				font-size: 30px
				color: #FFF
				+font-smoothing
			.search__counter
				margin-top: 11px
				color: #FFF
			.search__btn
				margin-top: 5px
				background: #fff
	.search__title, .search__counter, .search__btn
		float: left
	.search__title
		margin: 2px 30px 0 0
		+fn
		font-size: 20px
		font-weight: 700
		color: #000
		cursor: pointer
		line-height: 1
		+nosel
	.search__counter
		margin: 6px 30px 0 0
		border-bottom: 1px solid
		font-size: 13px
		color: #000
		text-decoration: none
		&:hover
			border-width: 2px
	.search__btn
		height: 27px
		padding: 0 8px
		border-radius: 4px
		border: 2px solid $bll
		color: $bll
		&:hover
			background: #fff
			border-color: $btn
			color: $btn
			i
				+s(plus-h)
		i, span
			display: inline-block
			vertical-align: middle
		i
			margin-right: 7px
			+s(plus)
		span
			font-size: 13px
			font-weight: 700

.btn-center
	text-align: center
	font-size: 0
	a
		font-style: 13px
.btn-wrap
	font-size: 0
	.btn
		margin-left: 25px
		&:first-child
			margin: 0
	a
		font-style: 13px
.btn-justify
	+clr
	.btn
		float: right
		&:first-child
			float: left

.btn
	height: 40px
	padding: 0 20px
	background: $btn
	border-radius: 4px
	+fn
	font-size: 20px
	color: #FFF
	&:hover
		background: $btnh
	&.is-disable
		background: $btn
		opacity: .3
		cursor: default
	&.btn_wide
		width: 100%
	&.btn_load
		padding: 0 30px
	&.btn_white
		background: #fff
		color: $btn
	&.btn_small
		height: 30px
		padding: 0 10px
		+f
		font-size: 13px
	&.btn_fs16
		font-size: 16px
	&.btn_send
		display: block
		margin-top: 30px
	.btn__plus
		position: relative
		top: 1px
		display: inline-block
		margin-right: 6px
		+s(btn-plus)
	.btn__arr-left
		display: inline-block
		margin: 0 10px 0 -6px
		+s(btn-arr-left)

.form
	position: relative
	margin-bottom: 35px
	.form__layout
		+clr
	.form__layout_w650
		width: 650px
	.form__layout_mb25
		margin-bottom: 25px
	.form__layout_border
		margin-bottom: 25px
		padding-bottom: 5px
		border-bottom: 1px solid $ava
	.form__column
		float: right
		&:first-child
			float: left
		.period + .checkbox
			float: left
			margin: 20px 0 -11px 23px
	.form__column_w130
		width: 130px
	.form__column_w150
		width: 150px
	.form__column_w180
		width: 180px
	.form__column_w260
		width: 260px
	.form__column_w290
		width: 290px
	.form__column_w315
		width: 315px
	.form__footer
		margin-top: 30px
		.btn
			margin-right: 20px
		a
			text-decoration: underline
			&:hover
				color: $bll 
	.form__footer_mt10
		margin-top: 10px
	.form__experiance
		position: absolute
		top: 77px
		right: 0
		bottom: 118px
		width: 230px
		border-left: 2px solid $ava
		&:before
			content: ""
			display: inline-block
			height: 100%
			vertical-align: bottom
	.form__experiance-in
		position: relative
		top: 7px
		display: inline-block
		padding-left: 20px
		vertical-align: bottom
		color: $btn
		span
			display: block
			color: $bll
			font-size: 20px
			font-weight: 700
	.form__text
		color: $btn
	* + .h
		margin-top: 35px
	.h_big + .h
		margin-top: 0
	.form__summary
		position: absolute
		top: 82px
		right: 0
		bottom: 108px
		width: 230px
		border-left: 2px solid #8FC2D0
		padding-left: 20px
		.form__summary-in
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: auto
			padding-left: 20px
		.form__summary-label
			display: block
			margin-bottom: 10px
			color: $btn
		.form__summary-text
			color: #3aaaca
			font-size: 20px
			line-height: 1

.fieldset
	margin-bottom: 35px
	&.fieldset_border, &.fieldset_border-mod
		padding-bottom: 20px
		margin-bottom: 20px
		border-bottom: 1px solid $ava
	&.fieldset_border-mod
		padding-bottom: 0
		margin-bottom: 35px
	&.fieldset_border-top
		border-top: 1px solid $ava
		padding-top: 20px
		.fieldset + &
			margin-top: 50px

.field
	margin-bottom: 25px
	&.is-disable
		.field__text
			color: #d4d4d4
		.input
			border-color: #d4d4d4
			color: #d4d4d4
	&.field_social
		.field__in
			position: relative
			display: block
		.field__network
			position: absolute
			top: 6px
			left: 4px
			width: 28px
			height: 28px
			background: $bg
			border-radius: 50%
			+vertical
			i
				display: inline-block
				vertical-align: middle
		.field__vk
			+s(vk)
		.field__fb
			+s(fb)
		.field__tw
			+s(tw)
		.field__ok
			+s(ok)
		.input
			padding: 0 12px 0 40px
	&.field_list
		padding-top: 13px
		.field__label
			padding-right: 100px
	&.field_add-del
		+clr
		.add
			float: left
		.del
			float: right
	&.field_range
		.field__text
			margin: 0 5px
			&:first-child
				margin: 0 7px 0 0
	&.field_mb0
		margin: 0
	&.field_mb20
		margin-bottom: 20px
	&.field_radio-ml25
		.field__in
			.radio, .checkbox
				margin: 0 0 0 25px
	&.field_clr
		.field__in
			+clr
	.field__label
		margin-bottom: 10px
		color: $btn
		>.checkbox
			display: inline-block
			margin: 0 0 0 40px
	.field__in
		.input
			& + .pseudo-link
				margin-left: 17px
		.radio, .checkbox
			display: inline-block
			margin: 0 0 0 35px
			vertical-align: middle
			&:first-child
				margin: 0
		.checkbox
			&.checkbox_mt8
				margin-top: 8px
		.form__layout
			margin-top: 15px
	.field__text
		display: inline-block
		margin-left: 7px
		vertical-align: middle
		color: $btn
	.field__link
		margin-left: 7px
		text-decoration: underline
		&:hover
			color: $bll 

.file
	position: relative
	min-height: 130px
	padding: 10px
	background: $ava
	overflow: hidden
	&:hover
		.btn
			background: $btnh 
	&.file_w315
		width: 315px
	&.file_mod
		min-height: 0
		padding: 20px
		background: #fff
		border: 1px dashed $ava
		.btn
			float: left
			margin-right: 10px
		.file__title
			display: table
			padding-top: 7px
			vertical-align: top
			color: $btn
	.file__title
		padding-top: 5px
		font-weight: 700
		color: #FFF
	>input
		position: absolute
		top: 0
		right: 0
		font-size: 150px
		opacity: 0
		cursor: pointer 
		
.input, .textarea
	width: 100%
	border: 1px solid $ava
	font-size: 16px
	&:focus
		border-color: $bll
		box-shadow: 0 0 0 1px $bll inset
.input
	height: 40px
	padding: 0 12px
	vertical-align: middle
	&.input_w80
		width: 80px
	&.input_w110
		width: 110px
	&.input_w150
		width: 150px
	&.input_w315
		width: 315px
.textarea
	display: block
	height: 150px
	padding: 8px 12px
	resize: vertical
	&.textarea_h100
		height: 100px
	&.textarea_h60
		height: 60px

.select
	position: relative
	cursor: pointer
	font-size: 16px
	+nosel
	&.is-open
		z-index: 998
		.select__head
			border-color: $bll
			box-shadow: 0 0 0 1px $bll inset
			&:before
				content: ""
				position: absolute
				top: 0px
				right: 0px
				bottom: 0px
				width: 36px
				background: $bll
			&:after
				top: 14px
				+s(select-arr-a)
	&.is-chousen
		.select__head
			font-size: 16px
			color: #000
	.select__head
		position: relative
		height: 40px
		padding: 0 50px 0 12px
		border: 1px solid $ava
		white-space: nowrap
		text-overflow: ellipsis
		line-height: 38px
		font-size: 13px
		color: $ava
		overflow: hidden
		&:after
			content: ""
			position: absolute
			top: 15px
			right: 11px
			+s(select-arr)
	.select__list
		display: none
		position: absolute
		top: 38px
		left: 0
		right: 0
		border: 2px solid $bll
		background: #FFF
		li
			padding: 10px
			&:hover
				background: $bg
				color: $btn

.period
	.period__text, .select
		display: inline-block
		vertical-align: middle
	.period__text
		padding-top: 1px
		color: $btn
	.select
		margin-left: 5px
	.select__head
		padding: 0 41px 0 5px

.action-wrap
	font-size: 0
.action
	margin-left: 20px
	vertical-align: middle
	&:first-child
		margin: 0
	&.action_remove
		+s(remove-bigger)
		&:hover
			+s(remove-bigger-h)
	&.action_reload
		+s(reload)
		&:hover
			+s(reload-h)
	&.action_hide
		+s(hide)
		&:hover
			+s(hide-h)
	&.action_comm
		+s(comm)
		&:hover
			+s(comm-h)
	&.action_download
		+s(download)
		&:hover
			+s(download-h)
	&.action_check
		+s(check)
	&.action_edit
		+s(edit)
		&:hover
			+s(edit-h)

.add, .del
	color: $blg
	vertical-align: top
	font-size: 0
	&:hover
		color: $btn
		span
			border-color: #b0c1c9
	i, span
		display: inline-block
		vertical-align: top
	span
		margin-right: 7px
		padding-top: 2px
		border-bottom: 1px dashed $ava
		line-height: 1
		font-size: 13px
	i
		& + span
			margin: 0 0 0 7px 
		
.add
	i
		+s(add)
	&:hover
		i
			+sp(add-h)
.del
	i
		+s(del)
	&:hover
		i
			+s(del-h)

.edit
	height: 30px
	padding: 0 10px
	background: $bg
	border-radius: 4px
	font-size: 0
	color: $btn
	vertical-align: top
	i, span
		display: inline-block
		vertical-align: top
	i
		margin-right: 10px
		+s(edit)
	span
		font-size: 13px
	&:hover
		color: $btn
		span
			text-decoration: underline
		i
			+s(edit-h)

.list
	position: relative
	.list__types
		position: absolute
		top: -39px
		right: 0
		font-size: 0
		button
			width: 40px
			height: 40px
			margin-left: -1px
			border: 1px solid $ava
			background: #d0ebf4
			font-size: 0
			vertical-align: top
			&:hover
				background: #8FC2D0
				.list__dots
					+s(list-dots-h)
				.list__number
					+s(list-number-h)
			i
				display: inline-block
	.list__dots
		+s(list-dots)
	.list__number
		+s(list-number)
	.list__in
		min-height: 94px
		// padding: 10px
		// border: 1px solid $ava
		textarea
			padding: 10px
			height: 100%
			min-height: 94px
		ul
			font-size: 16px
			&.is-dots
				li
					position: relative
					margin-bottom: 5px
					padding-left: 17px
					&:before
						content: ""
						position: absolute
						top: 7px
						left: 0
						width: 5px
						height: 5px
						background: $ava
						border-radius: 50%

.title
	margin-bottom: 25px
	overflow: hidden
	&.title_mb15
		margin-bottom: 15px
	&:after
		content: ""
		position: relative
		top: 12px
		display: block
		height: 2px
		background: $bl
		overflow: hidden
	.title__ico
		float: right
		width: 26px
		height: 26px
		border-radius: 50%
		border: 2px solid $bl
		+vertical
		i
			position: relative
			display: inline-block
			vertical-align: middle
	.title__in
		float: left
		margin-right: 8px
		+fn
		font-size: 25px
		font-weight: 700
		line-height: 1.1
		letter-spacing: -.5px
		+smooth
	.title__ico-star,
	.title__ico-letter,
	.title__ico-top,
	.title__ico-target,
	.title__ico-hand,
	.title__ico-serv
		top: -1px
	.title__ico-star
		+s(title-star)
	.title__ico-letter
		+s(title-letter)
	.title__ico-rhomb
		+s(title-rhomb)
	.title__ico-top
		+s(title-top)
	.title__ico-target
		+s(title-target)
	.title__ico-list
		+s(title-list)
	.title__ico-ok
		+s(title-ok)
	.title__ico-news
		+s(title-news)
	.title__ico-plus
		+s(title-plus)
	.title__ico-res
		+s(title-res)
	.title__ico-portfolio
		+s(title-portfolio)
	.title__ico-hand
		+s(title-hand)
	.title__ico-world
		+s(title-world)
	.title__ico-serv
		+s(title-serv)
	.title__ico-cart
		+s(title-cart)

.radio
	position: relative
	display: block
	margin-bottom: 20px
	cursor: pointer
	&.radio_small
		input
			&:checked + .radio__in
				&:after
					top: 6px
					left: 6px
					width: 9px
					height: 9px
					background: $bl
		.radio__in
			padding: 3px 0 2px 33px
			color: #000
			&:before
				width: 21px
				height: 21px
				border: 2px solid $ava
	&:hover
		.radio__in
			&:before
				border-color: $bl
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0
		&:checked + .radio__in
			&:after
				content: ""
				position: absolute
				top: 6px
				left: 6px
				width: 12px
				height: 12px
				background: $btn
				border-radius: 50%
	.radio__in
		display: block
		padding: 4px 0 4px 33px
		color: $btn
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 24px
			height: 24px
			border: 1px solid $ava
			border-radius: 50%

.checkbox
	position: relative
	display: block
	margin-bottom: 20px
	cursor: pointer
	&.checkbox_big
		.checkbox__in
			padding: 2px 0 0 33px
			+title
	&.checkbox_mt8
		margin-top: 8px
	&:hover
		.checkbox__in
			&:before
				border-color: $bl
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0
		&:checked + .checkbox__in
			&:after
				content: ""
				position: absolute
				top: 6px
				left: 4px
				+s(checkbox)
	.checkbox__in
		display: block
		padding: 5px 0 3px 33px
		color: $btn
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 24px
			height: 24px
			border: 1px solid $ava


























































































