// inner styles
.workers
	margin-bottom: 25px
	font-size: 0
	.workers__item
		display: inline-block
		width: 106px
		margin-left: 18px
		vertical-align: top
		color: $bl
		&:first-child
			margin: 0
		&:hover
			color: $btnh
			text-decoration: underline
			.workers__pic
				box-shadow: 0 0 0 2px $bll
	.workers__pic
		margin-bottom: 20px
	.workers__counter
		display: inline
		font-size: 13px
		span
			display: block
			margin-bottom: 5px
			font-weight: 700
			
.direction
	position: relative
	z-index: 2 
	.direction__in
		margin-top: -15px
		font-size: 0
	.direction__item
		display: inline-block
		width: 30%
		margin: 0 3.33% 25px 0
		font-size: 13px 
		vertical-align: top
		color: $bl 
		&:first-child
			color: #000 
		&:hover
			.direction__title, .direction__counter
				text-decoration: underline
				color: $btnh 
	.direction__item
		color: #fff 
	.direction__title
		margin-bottom: 5px
		+title
	.direction__salary
		margin-bottom: 10px
	.title
		margin: -5px 0 10px
		&:after
			display: none

.day
	position: relative
	display: block
	margin-bottom: 40px
	text-align: center
	z-index: 4 
	&:hover
		.day__title
			color: $btnh
			text-decoration: underline 
	.day__pic
		margin-bottom: 27px
		font-size: 0
	.day__title
		margin-bottom: 3px
		+title
	.day__text
		color: #000 
		
.banner
	position: relative
	font-size: 0
	&.banner_aside
		margin-bottom: 55px

.hotwork
	margin-bottom: 15px
	font-size: 0
	.hotwork__item
		display: inline-block
		width: 30%
		margin: 0 3.33% 30px 0 
		vertical-align: top
		font-size: 13px
		&:hover
			.hotwork__title
				color: $bll
				text-decoration: underline 
	.hotwork__title
		margin-bottom: 10px
		+title
	.hotwork__price
		margin-bottom: 3px
		color: $blg
	.hotwork__salary
		font-weight: 700 
	
.training
	margin: -10px 0 20px
	text-align: center
	&.training_aside
		margin: -10px 0 50px 
	.training__slider
		margin-bottom: 25px
	.training__item
		&:hover
			.training__man
				color: $bll
				text-decoration: underline 
	.training__pic
		margin-bottom: 12px
		font-size: 0
	.training__man
		margin-bottom: 3px
		+title 
	.training__text
		margin-bottom: 7px
		color: #000 
	.training__date
		color: $bld
	.training__dots
		text-align: center
		font-size: 0
		span
			display: inline-block
			width: 9px
			height: 9px
			margin: 0 8px
			background: #C4E4EE
			border-radius: 50%  
			vertical-align: top
			cursor: pointer
			&:hover
				background: #55B5D1 
			&.is-active
				background: $bl 

.articles
	margin-bottom: 30px
	.articles__slider
		margin-bottom: 25px
	.articles__item
		display: block
		overflow: hidden
		&:hover
			.articles__title
				color: $btnh
				text-decoration: underline 
	.articles__pic
		float: left
		width: 230px
		margin-right: 20px
		font-size: 0
	.articles__data
		overflow: hidden
	.articles__title
		margin-bottom: 10px
		+title
	.articles__text
		color: #000
	.articles__nav
		text-align: center
		font-size: 0
	.articles__prev,
	.articles__next
		vertical-align: middle
	.articles__prev
		margin-right: 8px
		+s(prev)
		&:hover
			+s(prev-h)
	.articles__next
		margin-left: 8px
		+s(next)
		&:hover
			+s(next-h)
	.articles__dots
		display: inline-block
		vertical-align: middle
		span
			display: inline-block
			width: 9px
			height: 9px
			margin: 0 8px
			background: #C4E4EE
			border-radius: 50%  
			vertical-align: top
			cursor: pointer
			&:hover
				background: #55B5D1 
			&.is-active
				background: $bl 

.newwork
	font-size: 0
	.newwork__title, .btn
		display: inline-block
		width: 230px
		vertical-align: middle
	.newwork__title	
		margin-right: 20px
		font-size: 13px
		color: $bld 
	.btn
		padding-top: 1px
		i
			position: relative
			top: -2px
			display: inline-block
			margin-left: 10px
			+s(yandex)
			vertical-align: middle

.vote
	.vote__title
		margin-bottom: 20px
		+title
	.vote__list
		margin-bottom: 30px
	.vote__question
		margin-bottom: 10px 
	.vote__scale
		margin-bottom: 20px
		font-size: 0
	.vote__values, .vote__line
		display: inline-block
		vertical-align: middle
	.vote__values
		color: $bl 
		font-size: 13px
		span
			font-weight: 700 
	.vote__line
		height: 6px
		margin-right: 10px
		background: $bl  
	.vote__result
		display: none
		
.news
	margin-top: -7px
	.news__link
		display: block
		padding: 5px 0
		border-top: 1px solid #B7E6F4 
		color: #000 
		&:first-child
			padding: 0 0 5px
			border: none
		&:hover
			color: $btn 
			text-decoration: underline

.subscribe
	float: left
	margin-right: 80px
	color: $blg 
	&:hover
		color: $bld
		i
			+s(subscribe-h)
		span
			border-color: $bld
	i, span
		float: left
	span
		border-bottom: 1px solid transparent 
		line-height: 1
	i
		position: relative
		top: -2px
		margin-right: 7px 
		+s(subscribe)

.sorting
	float: left
	margin-top: -2px
	color: $blg 
	.sorting__title, .sorting__list
		display: inline-block
	.sorting__title
		margin-right: 8px
	.sorting__list
		a
			display: inline-block
			margin-left: 12px
			border-bottom: 1px dashed
			line-height: 1 
			&:first-child
				margin: 0
			&.is-active
				border: none
				font-weight: 700
				color: $bld  
				i
					+s(arr-sorting-h)
		span, i
			display: inline-block
			line-height: 1
		i
			margin-left: 2px
			+s(arr-sorting)

.el
	&.el_single
		margin-bottom: 25px
		.el__title
			font-size: 25px
			color: #000 
		.el__in
			display: block
		.el__head
			.ava
				margin-left: 10px
		.el__row-left
			width: 150px
		.el__action
			margin: 30px 0 0
	&.el_similar
		margin: -20px 0 40px
	.el__layout
		+clr
	.el__item
		position: relative
		padding: 15px 20px
		border-top: 1px solid #CCEBF4 
		+clr
		&:first-child
			border: none
		&.is-open
			background: $bg 
			>.ava, .el__man
				display: none
			& + .el__item
				&:before
					display: none
		&.is-hot
			padding: 16px 20px 15px
			background: $blg
			border: none
			&:before
				content: ""
				position: absolute
				top: 0
				left: 20px
				right: 20px
				height: 1px
				background: #8DB9C6 
			&:first-child
				padding: 15px 20px
				&:before
					display: none
			& + .el__item
				border: none
			.el__title, .el__man, .el__salary
				color: #FFF
				a
					color: #FFF 
			.el__toggle
				button
					&:hover
						span
							border-color: #fff
					&.is-active
						i
							+s(arr-toggle-top)
					span
						color: #fff 
					i
						+s(arr-toggle-down-l)
			.el__fav
				button
					&:hover
						+s(fav-l)
			.el__new-window
				a
					&:hover
						+s(new-window-l)
	.el__right
		float: right
		width: 130px
		margin-left: 15px
	.el__salary
		font-weight: 700
		font-size: 15px
		color: $bll  
	.el__toggle
		button
			&:hover
				span
					border-color: $bld
					color: $bld 
				i
					+s(arr-toggle-down-h)
			&.is-active
				&:hover
					i
						+s(arr-toggle-top-h)
				i
					+s(arr-toggle-top)
			span, i
				display: inline-block
				vertical-align: middle
			span
				border-bottom: 1px solid transparent 
				color: $blg
				line-height: 1
			i
				margin-left: 3px
				+s(arr-toggle-down)
	.el__fav
		float: right
		margin-left: 15px
		button
			+s(fav)
			&:hover
				+s(fav-h)
			&.is-active
				+s(fav-a)
	.el__new-window
		float: right
		margin-left: 15px
		a
			display: block
			+s(new-window)
			&:hover
				+s(new-window-h)
	.el__title
		margin-bottom: 3px
		+title
	.el__man
		color: $blg 
		a
			color: $blg 
	.el__data
		display: table
	.el__in
		display: none
		padding-top: 20px
		clear: both
		+clr
	.el__in_vacancy
		padding: 0
		.el__salary
			margin-bottom: 15px
			+fn
			font-size: 25px
		.el__date
			float: none
			width: auto
			margin: 0
	.el__head
		margin-bottom: 25px
		overflow: hidden
		.ava
			width: 130px
			height: 130px 
			margin-right: 30px 
	.el__logo
		float: left
		margin-right: 30px
		font-size: 0
	.el__date
		float: right
		width: 130px
		margin-left: 20px
		color: $blg
		li
			margin-bottom: 3px
	.el__about
		overflow: hidden
		p
			margin-bottom: 3px
			color: $blg 
		a
			display: inline-block
			border-bottom: 1px solid 
			line-height: 1
	.el__info
		margin-bottom: 20px
		padding-bottom: 20px
		border-bottom: 2px solid $blg 
	.el__row-title
		margin-bottom: 10px
		+fn
		font-size: 20px
		font-weight: 700 
		color: $blg
		line-height: 1.1 
	.el__row
		margin-bottom: 10px
		+clr
		& + .el__row-title
			margin-top: 30px
	.el__row-left
		float: left
		width: 140px
		margin-right: 20px
		text-align: right
		color: $blg 
	.el__row-left_social
		padding-top: 5px
	.el__row-right
		display: table
		max-width: 500px
	.el__row-content
		max-width: 550px
	.el__row-right, .el__row-content
		ul
			li
				position: relative
				margin-top: 10px
				padding-left: 15px
				&:before
					content: ""
					position: absolute
					top: 5px
					left: 0
					width: 5px
					height: 5px
					background: $blg
					border-radius: 50%  
			& + p
				margin-top: 10px
		>a
			display: inline-block
			border-bottom: 1px solid
			line-height: 1
		.social
			a
				&:hover
					background: #FFF 
	.el__added
		margin-top: 25px
		a
			display: inline-block
			border-bottom: 1px solid 
			color: $bld 
			line-height: 1
	.el__contacts
		+clr
	.el__contacts-right
		float: right
		width: 225px
		margin-left: 40px
	.el__a42
		padding: 10px 20px 0 0
	.el__contacts-left
		display: table
		.el__row-title
			color: $btn 
	.el__action
		position: relative
		margin: 10px -20px -15px
		padding: 15px 20px
		background: $bll 
		&.el__action_invert
			margin: 0 0 20px
			background: $bg
			.el__action-link
				color: $btn
				&:hover
					color: $btnh 
					span
						border-color: $btnh
					.el__ico-save
						+sp(save-bl-h)
			.el__ico-save
				+s(save-bl)
			.el__ico-print
				+s(print-bl)
			.el__ico-edit
				+s(edit)
			.el__ico-reload
				+s(reload)
			.el__ico-hide
				+s(hide)
			.el__ico-remove
				+s(remove-bigger)
	.el__action-link
		display: inline-block
		margin-left: 35px
		color: #FFF 
		font-size: 0
		line-height: 1
		vertical-align: middle
		&:first-child
			margin: 0
		&:hover
			span
				border-color: #fff
		&.is-active
			.el__ico-fav
				+s(fav-a)
			.el__ico-like
				+s(like-a)
		i, span
			display: inline-block
			vertical-align: middle
		i
			margin-right: 7px
		span
			padding-top: 3px
			border-bottom: 1px solid transparent 
			font-size: 13px
		.el__ico-fav
			top: -3px
			+s(fav-white)
		.el__ico-new-window
			+s(new-window-white) 
		.el__ico-save
			+s(save-white)
		.el__ico-print
			+s(print-white)
		.el__ico-like
			+s(like-white)
	.el__map
		a
			display: inline-block
		span, i
			display: inline-block
			vertical-align: middle
		span
			color: $btn
		i
			position: relative
			top: -1px
			margin-right: 5px
			+s(marker)
	.el__company
		float: right
		width: 230px
		margin: 0 0 20px 40px
		.el__logo
			float: none
			margin: 0 0 10px
	.el__section
		display: table
		.el__date
			float: none
			width: auto
			margin: 0 0 20px
		.el__info
			padding-bottom: 10px
			border: none 
	.el__details
		position: relative
		float: right
		width: 230px
		margin-left: 20px
		padding: 20px
		background: $ava 
		color: #fff 
		&:before
			content: ""
			position: absolute
			top: 20px
			left: -20px
			+arr(20,40,$ava,l)
		.ava
			float: none
			margin: 0 0 10px
			border-color: $bg
		.h
			color: #fff 
	.el__details-about
		margin-bottom: 15px
		padding-bottom: 15px
		border-bottom: 1px solid #a4ceda  
	.el__details-contacts
		li
			margin-top: 5px
			&:first-child
				margin: 0
		a
			text-decoration: underline
		.social
			display: inline-block
			margin-left: 3px
			vertical-align: middle
		
.pager
	padding-top: 30px
	border-top: 2px solid $bl 
	text-align: center
	font-size: 0
	a
		display: inline-block
		height: 30px
		padding: 0 10px
		margin: 0 2px
		border-radius: 4px 
		vertical-align: top
		font-size: 13px
		color: $btn 
		line-height: 30px
		&:hover
			background: $bg
			font-weight: 700  
		&.is-active
			background: $btn
			color: #fff
			font-weight: 700   
			cursor: default
	.pager__prev, .pager__next
		background: $btn
		color: #fff
		font-weight: 700 
		&:hover
			background: $btnh 
	.pager__prev
		margin: 0 15px 0 0
	.pager__next
		margin: 0 0 0 15px

.filter
	.filter__head
		padding: 6px 0 10px 20px
	.filter__head-title, .filter__head-reset
		display: inline-block
	.filter__head-title
		margin-right: 20px
		+fn
		font-size: 16px
		font-weight: 700 
	.filter__head-reset
		border-bottom: 1px dashed 
		color: $btn 
		line-height: 1
	.filter__item
		border-top: 1px solid #CCEBF4 
		&:first-child
			border: none
	.filter__title
		padding: 10px 10px 10px 20px
		+fn
		font-size: 20px
		font-weight: 700
		line-height: 1.1
		color: $bll 
		span
			+f
			font-size: 13px
			font-weight: 400 
	.filter__list
		padding-bottom: 10px
		a
			display: block
			padding: 8px 10px 2px 20px 
			+clr
			&:first-child
				margin: 0
			&:hover
				background: #CCEBF4 
				span
					&:first-child
						border-color: $bld
			&.is-active
				span
					&:first-child
						font-weight: 700
						color: $btn  
		span
			float: right
			border-bottom: 1px solid transparent
			color: $btn
			line-height: 1
			&:first-child
				float: none
				display: inline-block
				overflow: hidden
				color: #000
		i
			position: relative
			top: 1px
			display: inline-block
			margin-left: 9px
			+s(remove)
	.filter__more
		margin-top: -5px
		padding: 0 10px 10px 20px 
				
.share
	display: none
	position: absolute
	right: 0
	bottom: -10px
	padding: 20px
	background: #FFF
	box-shadow: 0 0 27px rgba(23, 116, 143, 0.35)
	z-index: 10   
	.share__title
		margin-bottom: 15px
		+fn
		font-size: 20px
		font-weight: 700
		line-height: 1.1
		color: $blg
	.share__close
		position: absolute
		top: 20px
		right: 20px
		+s(close)
		&:hover
			+sp(close-h)

.popup
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba($btn,.1) 
	+vertical
	overflow: auto
	z-index: 999 
	.popup__in	
		position: relative
		display: inline-block
		width: 520px 
		padding: 18px 20px 25px
		background: #FFF
		box-shadow: 0 0 27px rgba(23, 116, 143, 0.35) 
		vertical-align: middle
		font-size: 13px
		text-align: left
	.popup__title
		margin: 0 50px 15px 0 
		+fn
		font-size: 25px
		color: #000
		line-height: 1.1
		font-weight: 700  
	.popup__text
		margin-bottom: 20px
		color: $btn 
	.popup__close
		position: absolute
		top: 20px
		right: 20px
		+s(close)
		&:hover
			+sp(close-h)
	.popup__footer-link
		padding: 20px
		text-align: center
		a
			text-decoration: underline
	.popup__code
		padding: 20px 0 10px
		text-align: center
		li
			display: inline-block
			margin: 0 10px 20px
			span
				display: inline-block
				padding-left: 7px
				font-size: 25px
				font-weight: 700  
				vertical-align: middle

.company
	margin-bottom: 35px
	+clr
	.company__logo
		float: left
		margin-right: 30px
		font-size: 0
	.company__logo_border
		float: none
		margin: 0 0 20px
		img
			border: 3px solid $ava
	.company__data
		display: table
		p
			margin-bottom: 3px
			color: $blg 
		a
			display: inline-block
			border-bottom: 1px solid 
			line-height: 1 
			&.pseudo-link
				border-style: dashed
	.company__info-item
		margin-top: 20px
		padding-top: 20px
		border-top: 1px solid #ccebf4 
	.company__info-title
		margin-bottom: 20px
		+fn
		font-size: 20px
		font-weight: 700
		color: $bl  
		line-height: 1.1
	.company__info-list
		li
			margin-top: 10px
			+clr
			&:first-child
				margin: 0
			&.is-active
				font-weight: 700 
			a
				display: table
				
.add
	float: right
	margin: -1px 0 -1px 20px
	color: $blg 
	&.add_dashed
		float: none
		margin: 0
		&:hover
			span
				border-color: $btn
		i
			margin: 0 9px 0 0
		span
			border-bottom: 1px dashed $ava 
	&:hover
		color: $btn 
		i
			+sp(add-h)
		span
			border-color: #b0c1c9
	i, span
		display: inline-block
		vertical-align: top
	i
		margin-left: 5px
		+s(add)
	span
		padding-top: 2px
		border-bottom: 1px solid transparent
		line-height: 1 


.map
	margin-bottom: 35px

.text
	margin-bottom: 40px
	font-size: 16px
	line-height: 1.8
	h3
		margin-bottom: 5px
		+fn
		color: $btn
		font-size: 20px 

.content
	margin-bottom: 25px
	p
		margin-bottom: 10px
	blockquote
		position: relative
		margin: 25px 0 5px
		padding-left: 20px
		+fn
		font-size: 20px
		font-weight: 700
		color: $btn 
		line-height: 1.5
		&:before
			content: "“"
			position: absolute
			top: -15px
			left: -10px
			font-size: 60px
		& + p
			margin: 0 0 25px 20px 
	ul, ol
		display: table
		margin-bottom: 5px
		li
			position: relative
			padding-left: 17px
			margin-bottom: 10px
			&:before
				content: ""
				position: absolute
				left: 0
	ul
		li
			&:before
				top: 5px 
				width: 5px
				height: 5px
				border-radius: 50% 
				background: $blg 
	ol
		counter-reset: list
		li
			&:before
				counter-increment: list
				content: counter(list)
				top: 0
				left: 0
				font-weight: 700
				color: $blg
	.content__block
		float: left
		width: 230px
		margin: 0 20px 20px 0
		img
			display: block
			margin-bottom: 35px 
		p
			padding: 15px
			background: $bg 


.slider
	margin-bottom: 50px
	.slider__head
		margin-bottom: 20px
		font-size: 0
		text-align: center
	.slider__prev, .slider__next, .slider__caption
		display: inline-block
		vertical-align: middle
	.slider__prev
		+s(sl-prev)
		&:hover
			+sp(sl-prev-h)
	.slider__next
		+s(sl-next)
		&:hover
			+sp(sl-next-h)
	.slider__caption
		padding: 0 40px
		font-size: 14px
		color: $bld 
		font-weight: 700 

.video
	margin-bottom: 40px

.why-we
	.why-we__title
		margin-bottom: 10px
		+title
	.text
		padding-left: 30px
		margin-bottom: 20px

.review
	margin-bottom: 40px
	+clr
	.review__ava
		float: left
		margin-right: 80px 
		font-size: 0
	.review__data
		display: table
	.review__text
		position: relative
		margin-bottom: 10px
		+fn
		font-size: 20px
		font-weight: 700
		color: $btn 
		line-height: 1.5
		&:before
			content: "“"
			position: absolute
			top: -15px
			left: -28px
			font-size: 60px

.posts
	.posts__main, .posts__full
		+clr
		.posts__pic
			float: left
		.posts__text
			font-size: 16px
			color: $btn
			line-height: 1.3 
	.posts__main
		display: block
		margin-bottom: 50px
		.posts__pic
			margin: 0 25px 0 0
	.posts__full
		.posts__pic
			margin: 0 25px 20px 0
		.posts__text
			margin-bottom: 10px 
	.posts__list
		overflow: hidden
	.posts__list
		margin-right: -50px
		font-size: 0
	.posts__item
		display: inline-block
		width: 230px
		margin: 0 20px 30px 0
		vertical-align: top
		font-size: 13px
	.posts__pic
		position: relative
		margin-bottom: 15px
		span
			position: absolute
			top: 0
			left: 0
			padding: 10px
			background: $blg
			color: #fff  
		img
			display: block
	.posts__title
		margin-bottom: 15px
		+title
	.posts__text
		color: #000
		line-height: 1.5 
		
.back
	margin-bottom: 30px
	a
		display: inline-block
		border-bottom: 1px solid 
		line-height: 1
		
.meta	
	margin-bottom: 30px
	color: $blg 
	p
		margin-bottom: 3px

.likes
	margin-bottom: 25px

.ava
	float: left
	width: 44px
	height: 44px
	margin-right: 20px
	border: 3px solid $ava
	font-size: 0 	
	&.ava_big
		float: none
		width: 130px
		height: 130px
		margin: 0 0 20px

.comm
	margin-bottom: 40px
	.comm__list
		margin-bottom: 30px
		padding-left: 20px
	.comm__item
		margin-bottom: 25px
		+clr
		&:hover
			.comm__bad, .comm__good
				&:hover
					span
						font-weight: bold 
				i
					opacity: 1
			.comm__good
				span
					color: #00b01e
			.comm__bad
				span
					color: #e01815 
	.comm__in
		overflow: hidden
	.comm__user
		margin-bottom: 5px
		font-weight: bold 
	.comm__meta
		padding-bottom: 3px
		margin-bottom: 5px
		border-bottom: 1px solid
		color: $blg 
		+clr
	.comm__date
		float: left
	.comm__rating
		float: right
	.comm__bad, .comm__good
		margin-left: 15px
		i, span
			display: inline-block
			vertical-align: middle
		i
			margin-right: 5px
			opacity: 0 
		span
			color: $blg 
	.comm__bad
		i
			+s(comm-minus)
	.comm__good
		i
			+s(comm-plus)
	.comm__text
		margin-bottom: 3px
	.comm__reply-link
		a
			display: inline-block
			border-bottom: 1px solid 
			line-height: 1
	.comm__reply
		padding-left: 80px 

.oneday
	margin-bottom: 30px
	+clr
	.oneday__pic
		float: left
		width: 480px 
		margin-right: 20px
		font-size: 0
		img
			max-width: 100%
	.text	
		margin: 0
		padding-top: 40px 
		color: $bl 
		clear: both 
	.company
		float: left
		width: 230px 
		margin: 0
	.company__logo
		float: none
		margin: 0 0 20px

.manager
	padding: 20px 20px
	margin-bottom: 30px 
	background: $bg 
	.manager__title
		margin-bottom: 10px
		+fn
		font-size: 20px
		font-weight: 700
		color: $bl
		line-height: 1.1  
	.manager__data 
		margin-bottom: 15px
		+clr
		.ava
			margin-right: 15px
	.manager__name
		display: table
	.manager__contacts
		li
			margin-top: 10px
			&:first-child
				margin: 0
	.manager__number
		margin: 20px -20px -20px
		padding: 20px 15px 20px 20px
		background: $bl 
		color: #FFF 

.link-skype, .link-icq
	display: inline-block
	i, span
		display: inline-block
		vertical-align: middle
	i
		margin-right: 5px
.link-skype
	i
		+s(skype)
.link-icq
	i
		+s(icq)

.serv
	.serv__item
		margin-bottom: 20px 
	.serv__title
		a
			display: block
			padding: 10px 20px
			background: $blg 
			line-height: 1.1
			&:hover
				background: $btn
				span
					border-color: #fff
		span
			border-bottom: 1px solid transparent
			+fn
			font-size: 20px
			color: #FFF
			font-weight: 700  
	.serv__in
		padding: 20px
		background: $bg 
	.serv__content
		margin-bottom: 20px
		color: $btn
		ul
			margin-bottom: 10px
			font-size: 0
			li
				display: inline-block
				position: relative
				width: 50%
				padding: 0 20px
				font-weight: 700  
				font-size: 13px
				vertical-align: top
				&:before
					content: ""
					position: absolute
					top: 5px
					left: 0
					width: 5px
					height: 5px
					background: $blg
					border-radius: 50%  
	.serv__footer
		+clr
		.btn
			float: right
			width: 100px
			padding: 0 
	.serv__price
		float: right
		width: 130px
		text-align: center
		+fn
		font-size: 20px
		color: $btn 
		line-height: 40px
		font-weight: 700 
	.serv__months
		overflow: hidden
		label
			position: relative
			float: left
			width: 33%
			border-right: 1px solid $bg
			>input
				position: absolute
				top: 0
				left: 0
				visibility: hidden
				&:checked + span
					background: $btn
					color: #fff  
			>span
				display: block
				line-height: 40px
				background: #FFF
				text-align: center
				color: $blg
				font-weight: 700   
				cursor: pointer

.cart
	.cart__in
		padding: 15px 20px 30px 
		background: $btn 
	.cart__item
		position: relative
		margin: 0 20px 15px 0 
		padding-top: 15px
		border-top: 1px solid #4590a5
		color: #FFF
		&:first-child
			padding: 0
			border: none 
	.cart__row
		+clr
		& + .cart__row
			margin-top: 15px
	.cart__sum, .cart__price
		float: right
		margin-left: 10px
	.cart__sum
		position: relative
		font-weight: 700 
	.cart__price
		color: #aaddeb 
	.cart__del
		position: absolute
		top: 2px
		right: -20px
		+s(remove)
	.cart__value
		position: relative
		top: -2px
		overflow: hidden
	.cart__plus, .cart__minus, .cart__value-in
		display: inline-block
		vertical-align: middle
	.cart__value-in
		width: 50px
		text-align: center
	.cart__plus
		+s(plus-border)
		&:hover
			+sp(plus-border-h)
	.cart__minus
		+s(minus-border)
		&:hover
			+sp(minus-border-h)
	.cart__total
		margin: 30px 0 20px
		padding-top: 10px
		border-top: 1px solid #fff
		+fn
		font-size: 20px
		line-height: 1.1
		font-weight: 700
		color: #fff 
		+clr
	.cart__total-value
		float: right
		margin-left: 10px

.servmore
	.servmore__title
		margin-bottom: 3px
		+fn
		font-size: 20px
		font-weight: 700
		line-height: 1.1
		color: $blg  
	.servmore__title-sub
		color: $btn 
	.servmore__item
		padding: 10px 20px
		background: $bg 
		+clr
		.btn
			float: right
			width: 100px
	.servmore__price
		float: right
		width: 130px
		padding-top: 10px
		+title
	.servmore__type
		padding-top: 10px
		+title
		overflow: hidden
	.servmore__info
		padding: 15px 20px 5px
		color: $btn 
		ul
			li
				position: relative
				padding-left: 15px
				&:before
					content: ""
					position: absolute
					top: 4px
					left: 0
					width: 5px
					height: 5px
					border-radius: 50%
					background: $blg 
	.servmore__info_more
		padding: 15px 0 5px
		color: $blg 

.prof
	.prof__nik
		margin-bottom: 10px
		color: $btn 
	.prof__title
		margin-bottom: 20px
		+fn
		font-size: 20px
		line-height: 1.1
		color: $blg
		font-weight: 700  
	.prof__list
		margin-bottom: 30px
		li
			margin-top: 7px
			+clr
			&:first-child
				margin: 0
			&.is-active
				>a
					font-weight: 700 

.subvac
	.subvac__head
		padding: 12px 20px
		background: $bg
		+clr
		.action-wrap
			float: right
	.subvac__links
		overflow: hidden
		li
			float: left
			margin-left: 25px
			&:first-child
				margin: 0
	.subvac__info
		padding: 12px 20px 22px
		+clr
	.subvac__salary
		float: right
		width: 130px
		margin-left: 20px
		font-size: 15px
		font-weight: 700
		color: $bll  
	.subvac__details
		display: table
		p
			margin-bottom: 3px
		span
			color: $blg 

.promosv
	margin-bottom: 35px
	.promosv__text
		margin-bottom: 20px
		font-size: 16px
		color: $btn 
	.promosv__go
		margin-bottom: 10px
		.btn
			margin-right: 25px
		span
			display: inline-block
			+fn
			font-size: 20px
			font-weight: 700 
			color: $btn 
	.promosv__info
		margin-bottom: 30px
		font-size: 11px
		color: $ava
	.promosv__how
		+clr
	.promosv__before
		float: left
	.promosv__after
		float: right

.rev
	margin-bottom: 35px
	.rev__item
		padding-top: 25px
		margin-top: 25px
		border-top: 1px solid #CCEBF4 
		+clr
		&:first-child
			padding: 0
			margin: 0
			border: none
	.rev__info
		display: table
	.rev__user
		margin-bottom: 10px
		a
			font-weight: 700
			text-decoration: underline 

.mysv
	.mysv__head
		margin-bottom: 15px
		+clr
		.checkbox
			float: right
			margin: 0 0 0 20px
	.mysv__types
		display: table
		padding: 4px 0
		li
			display: inline-block
			margin-left: 20px
			&:first-child
				margin: 0
			&.is-active
				a
					font-weight: 700
					color: $btn  
		a
			color: $blg 
	.mysv__stats
		margin-bottom: 20px
		padding: 12px 20px
		background: $bg 
		+clr
		.action-wrap
			float: right
	.mysv__stats-list
		display: table
		li
			display: inline-block
			margin-left: 30px
			&:first-child
				margin: 0 
	.mysv__el
		margin-bottom: 40px
		+clr
	.mysv__el-right
		float: right
		width: 100px
		padding-right: 20px
	.mysv__el-salary
		margin-bottom: 5px
		color: $bll
		font-size: 15px 
		font-weight: 700 
	.mysv__el-status, .mysv__el-upd
		color: $blg
	.mysv__el-details
		display: table

.tabs
	.tabs__head
		border-bottom: 10px solid $bll 
		+clr
	.tabs__list
		float: left
		li
			float: left
			&.is-active
				a
					background: $bll
					color: #fff
					font-weight: 700   
		a
			display: block
			padding: 12px 20px
			color: $bll 
			&:hover
				background: $bg

.responce
	margin-bottom: 30px
	&.responce_mt30
		margin-top: 30px
	&.responce_history
		.responce__company
			float: right
			max-width: 400px
			margin-left: 20px
		.responce__date
			display: block
			margin-bottom: 3px
	.responce__item
		padding-top: 20px
		margin-top: 20px
		border-top: 1px solid #ccebf4
		&:first-child
			margin: 0
			padding: 0
			border: none
	.responce__head
		margin: 0 20px 20px 0
		+clr
		.action
			float: right
			margin-left: 15px
	.responce__salary
		float: right
		width: 100px
		font-weight: 700
		color: $bll  
	.responce__date, .responce__company, .responce__status
		display: inline-block
		color: $blg
	.responce__date
		padding-right: 20px

.steps
	margin-bottom: 20px
	font-size: 0
	text-align: center
	li
		position: relative
		display: inline-block
		width: 16.666%
		padding: 0 10px
		vertical-align: top
		&:before
			content: ""
			position: absolute
			top: 13px
			left: 0
			right: 0
			height: 2px
			background: $bll 
		&.is-active
			span
				font-weight: bold
				color: $bll  
				&:first-child
					background: $bll
					color: #FFF  
		span
			position: relative
			display: block
			text-align: center
			font-size: 13px
			color: $blg
			z-index: 2 
			&:first-child
				display: inline-block
				width: 28px
				height: 28px
				margin-bottom: 15px
				border: 2px solid $bll
				border-radius: 50%
				background: #FFF 
				font-size: 15px
				color: $bll
				line-height: 24px   
				vertical-align: top
		




































































































































































































































