// inner styles
.workers
	margin-bottom: 25px
	font-size: 0
	.workers__item
		display: inline-block
		width: 106px
		margin-left: 18px
		vertical-align: top
		color: $bl
		&:first-child
			margin: 0
		&:hover
			color: $btnh
			text-decoration: underline
			.workers__pic
				box-shadow: 0 0 0 2px $bll
	.workers__pic
		margin-bottom: 20px
	.workers__counter
		display: inline
		font-size: 13px
		span
			display: block
			margin-bottom: 5px
			font-weight: 700

.direction
	position: relative
	z-index: 2
	.direction__in
		margin-top: -15px
		font-size: 0
	.direction__item
		display: inline-block
		width: 30%
		margin: 0 3.33% 25px 0
		font-size: 13px
		vertical-align: top
		color: $bl
		&:first-child
			color: #000
		&:hover
			text-decoration: none
			.direction__title, .direction__counter
				text-decoration: underline
				color: $btnh
	.direction__item
		color: #fff
	.direction__title
		margin-bottom: 5px
		+title
	.direction__salary
		margin-bottom: 10px
	.title
		margin: -5px 0 10px
		&:after
			display: none

.day
	position: relative
	display: block
	margin-bottom: 40px
	text-align: center
	z-index: 4
	&:hover
		text-decoration: none
		.day__title
			color: $btnh
			text-decoration: underline
	.day__pic
		margin-bottom: 27px
		font-size: 0
	.day__title
		margin-bottom: 3px
		+title
	.day__text
		text-decoration: none
		color: #000

.banner
	position: relative
	font-size: 0
	&.banner_aside
		margin-bottom: 55px

.hotwork
	margin-bottom: 15px
	font-size: 0
	.hotwork__item
		display: inline-block
		width: 30%
		margin: 0 3.33% 30px 0
		vertical-align: top
		font-size: 13px
		&:hover
			text-decoration: none
			.hotwork__title
				color: $bll
			.hotwork__title, .hotwork__salary
				text-decoration: underline
	.hotwork__title
		margin-bottom: 10px
		+title
	.hotwork__price
		margin-bottom: 3px
		color: $blg
	.hotwork__salary
		font-weight: 700

.training
	margin: -10px 0 20px
	text-align: center
	&.training_aside
		margin: -10px 0 50px
	.training__slider
		margin-bottom: 25px
	.training__item
		&:hover	
			text-decoration: none
			.training__man
				color: $bll
				text-decoration: underline
	.training__pic
		margin-bottom: 12px
		font-size: 0
	.training__man
		margin-bottom: 3px
		+title
	.training__text
		margin-bottom: 7px
		color: #000
	.training__date
		color: $bld
	.training__dots
		text-align: center
		font-size: 0
		span
			display: inline-block
			width: 9px
			height: 9px
			margin: 0 8px
			background: #C4E4EE
			border-radius: 50%
			vertical-align: top
			cursor: pointer
			&:hover
				background: #55B5D1
			&.is-active
				background: $bl

.articles
	margin-bottom: 30px
	.articles__slider
		margin-bottom: 25px
	.articles__item
		display: block
		overflow: hidden
		&:hover
			text-decoration: none
			.articles__title
				color: $btnh
				text-decoration: underline
	.articles__pic
		float: left
		width: 230px
		margin-right: 20px
		font-size: 0
	.articles__data
		overflow: hidden
	.articles__title
		margin-bottom: 10px
		+title
	.articles__text
		color: #000
	.articles__nav
		text-align: center
		font-size: 0
	.articles__prev,
	.articles__next
		font-size: 0
		vertical-align: middle
		&:hover
			.icon
				color: $bll
		.icon
			font-size: 25px
			color: $bl 
	.articles__prev
		margin-right: 8px
		 
	.articles__next
		margin-left: 8px
		
	.articles__dots
		display: inline-block
		vertical-align: middle
		span
			display: inline-block
			width: 9px
			height: 9px
			margin: 0 8px
			background: #C4E4EE
			border-radius: 50%
			vertical-align: top
			cursor: pointer
			&:hover
				background: #55B5D1
			&.is-active
				background: $bl

.newwork
	font-size: 0
	.newwork__title, .btn
		display: inline-block
		width: 230px
		vertical-align: middle
	.newwork__title
		margin-right: 20px
		font-size: 13px
		color: $bld
	.btn
		padding-top: 1px
		i
			display: inline-block
			margin-left: 10px
			+s(yandex)
			vertical-align: middle

.vote
	.vote__title
		margin-bottom: 20px
		+title
	.vote__list
		margin-bottom: 30px
	.vote__question
		margin-bottom: 10px
	.vote__scale
		margin-bottom: 20px
		font-size: 0
	.vote__values, .vote__line
		display: inline-block
		vertical-align: middle
	.vote__values
		color: $bl
		font-size: 13px
		span
			font-weight: 700
	.vote__line
		height: 6px
		margin-right: 10px
		background: $bl
	.vote__result
		display: none

.news
	margin-top: -7px
	.news__link
		display: block
		padding: 5px 0
		border-top: 1px solid #B7E6F4
		color: #000
		&:first-child
			padding: 0 0 5px
			border: none
		&:hover
			color: $btn
			text-decoration: underline

.subscribe
	float: left
	margin-right: 80px
	color: $blg
	&:hover
		color: $bld
		span
			text-decoration: underline
	i, span
		float: left
	span
		line-height: 1
	i
		position: relative
		top: -2px
		margin-right: 7px
		font-size: 15px

.sorting
	float: left
	margin-top: -2px
	color: $blg
	.sorting__title, .sorting__list
		display: inline-block
	.sorting__title
		margin-right: 8px
	.sorting__list
		a
			display: inline-block
			margin-left: 12px
			line-height: 1
			&:first-child
				margin: 0
			&:hover
				color: $bll 
			&.is-active
				font-weight: 700
				color: $bld
				cursor: default
				span
					border: none
		span, i
			display: inline-block
			line-height: 1
		span
			border-bottom: 1px dashed
		i
			margin-left: 2px
			font-size: 9px

.el
	&.el_single
		margin-bottom: 25px
		.el__title
			font-size: 25px
			color: #000
		.el__in
			display: block
		.el__head
			.ava
				margin-left: 10px
		.el__row-left
			width: 150px
		.el__action
			margin: 30px 0 0
	&.el_similar
		margin: -20px 0 40px
	&.el_edit
		.el__section
			.el__info
				margin: 0
				padding: 0
		.el__row
			margin-bottom: 20px
		.el__row_mb10
			margin: 10px
		.el__row-left
			width: 155px
		.el__row-title
			margin: 0
			padding-top: 4px
	&.el_lists
		.el__title
			a
				color: $bll 
				&:hover
					color: $btn 
	.el__layout
		+clr
	.el__item
		position: relative
		padding: 15px 20px
		border-top: 1px solid #CCEBF4
		+clr
		&:first-child
			border: none
		&.is-open
			background: $bg
			>.ava, .el__some, .el__status
				display: none
			& + .el__item
				&:before
					display: none
		&.is-hot
			padding: 16px 20px 15px
			background: $blg
			border: none
			&:before
				content: ""
				position: absolute
				top: 0
				left: 20px
				right: 20px
				height: 1px
				background: #8DB9C6
			&:first-child
				padding: 15px 20px
				&:before
					display: none
			& + .el__item
				border: none
			.el__title, .el__some, .el__salary
				color: #FFF
				a
					color: #FFF
			.el__toggle
				button
					color: #FFF 
					&:hover
						span
							border-color: #fff
			.el__fav
				button
					color: $ava 
					&:hover
						color: #fff 
			.el__new-window
				a
					color: $ava 
					&:hover
						color: #fff 
	.el__right
		float: right
		width: 130px
		margin: 3px 0 0 15px
	.el__salary
		font-weight: 700
		font-size: 15px
		color: $bll
	.el__toggle
		button
			color: $blg
			&:hover	
				color: $bld
				span
					text-decoration: underline
			
			&.is-active
				i
					+rotate(180)
			span, i
				display: inline-block
				vertical-align: middle
			span
				line-height: 1
			i
				margin-left: 3px
				font-size: 7px
	.el__fav
		float: right
		margin: 3px 0 0 15px
		button
			vertical-align: top
			color: $blg 
			&:hover
				color: $bl 
			&.is-active
				color: $btn 
	.el__new-window
		float: right
		margin: 3px 0 0 15px
		a
			display: block
			text-decoration: none
			color: $blg
			&:hover
				color: $bl
			&.is-active
				color: $btn 
	.el__title
		margin-bottom: 3px
		+title
		a
			&:hover
				color: $bll 
	.el__some
		color: $blg
		a
			color: $blg
			&:hover
				color: $btn 
		span
			padding-right: 30px
	.el__status
		padding-top: 10px
		color: $btn
	.el__data
		display: table
	.el__in
		display: none
		padding-top: 20px
		clear: both
		+clr
	.el__in_vacancy,
	.el__in_vacancy-no-border
		padding: 0
		.el__salary
			margin-bottom: 15px
			+fn
			font-size: 25px
		.el__date
			float: none
			width: auto
			margin: 0
	.el__in_vacancy-no-border
		.el__info
			padding-bottom: 10px
			border: none
	.el__head
		margin-bottom: 25px
		overflow: hidden
		.ava
			width: 130px
			height: 130px
			margin-right: 30px
	.el__logo
		float: left
		margin-right: 30px
		font-size: 0
	.el__date
		float: right
		width: 130px
		margin-left: 20px
		color: $blg
		li
			margin-bottom: 3px
	.el__about
		overflow: hidden
		p
			margin-bottom: 3px
			color: $blg
		a
			display: inline-block
			line-height: 1
			text-decoration: underline
			&:hover
				color: $bll 
	.el__info
		margin-bottom: 20px
		padding-bottom: 20px
		border-bottom: 2px solid $blg
	.el__row-title
		margin-bottom: 15px
		+fn
		font-size: 20px
		font-weight: 700
		color: $blg
		line-height: 1.1
	.el__row
		margin-bottom: 10px
		+clr
		& + .el__row-title
			margin-top: 30px
	.el__row-left
		float: left
		width: 140px
		margin-right: 20px
		text-align: right
		color: $blg
	.el__row-left_social
		padding-top: 5px
	.el__row-right
		display: table
		max-width: 500px
		line-height: 1.4
	.el__row-content
		max-width: 550px
	.el__row-right, .el__row-content
		ul
			margin: 15px 0
			li
				position: relative
				margin-top: 15px
				padding-left: 15px
				&:before
					content: ""
					position: absolute
					top: 6px
					left: 0
					width: 5px
					height: 5px
					background: $blg
					border-radius: 50%
			& + p
				margin-top: 10px
		>a
			display: inline-block
			text-decoration: underline
			line-height: 1
			&:hover
				color: $bll 
		.social
			white-space: nowrap
			a
				&:hover
					background: #FFF
	.el__added
		margin-top: 25px
		a
			display: inline-block
			border-bottom: 1px solid
			color: $bld
			line-height: 1
	.el__contacts
		+clr
	.el__contacts-right
		float: right
		width: 225px
		margin-left: 40px
		.btn
			width: 100%
	.el__a42
		padding: 10px 20px 0 0
	.el__contacts-left
		overflow: hidden
		.el__row-title
			color: $btn
	.el__action
		position: relative
		margin: 10px -20px -15px
		padding: 15px 20px
		background: $bll
		&.el__action_invert
			margin: 0 0 20px
			background: $bg
			.el__action-link
				color: $btn
				&:hover
					color: $btnh
	.el__action-link
		display: inline-block
		margin-left: 35px
		color: #FFF
		font-size: 0
		line-height: 1
		vertical-align: middle
		&:first-child
			margin: 0
		&:hover
			span
				text-decoration: underline
		&.is-active
			i
				color: $btn 
		i, span
			display: inline-block
			vertical-align: top
		i
			margin-right: 7px
		span
			padding-top: 3px
			font-size: 13px
		.icon-favorite
			position: relative
			top: -1px
	.el__map
		a
			display: inline-block
			&:hover
				span
					color: $bll
					text-decoration: underline 
		span, i
			display: inline-block
			vertical-align: middle
		span
			color: $btn
		i
			position: relative
			top: -1px
			margin-right: 5px
			font-size: 16px
			color: $blg 
	.el__company
		float: right
		width: 230px
		margin: 0 0 20px 40px
		.el__logo
			float: none
			margin: 0 0 10px
	.el__section
		display: table
		.el__date
			float: none
			width: auto
			margin: 0 0 20px
		.el__info
			padding-bottom: 10px
			border: none
	.el__details
		position: relative
		float: right
		width: 230px
		margin-left: 20px
		padding: 20px
		background: $ava
		color: #fff
		&:before
			content: ""
			position: absolute
			top: 20px
			left: -19px
			+arr(20,40,$ava,l)
		.edit
			position: absolute
			top: 20px
			right: 20px
		.ava
			float: none
			margin: 0 0 10px
			border-color: $bg
		.h
			color: #fff
	.el__details-about
		margin-bottom: 15px
		padding-bottom: 15px
		border-bottom: 1px solid #a4ceda
	.el__details-contacts
		li
			margin-top: 5px
			&:first-child
				margin: 0
		a
			text-decoration: underline
			&:hover
				color: $btnh 
		.social
			display: inline-block
			margin-left: 3px
			vertical-align: middle
	.el__counter
		font-size: 15px
		font-weight: 700
		color: $btn  
		
.pager
	padding-top: 30px
	border-top: 2px solid $bl
	text-align: center
	font-size: 0
	a
		display: inline-block
		height: 30px
		padding: 0 10px
		margin: 0 2px
		border-radius: 4px
		vertical-align: top
		font-size: 13px
		color: $btn
		line-height: 30px
		text-decoration: none
		&:hover
			background: $bg
			font-weight: 700
		&.is-active
			background: $btn
			color: #fff
			font-weight: 700
			cursor: default
	.pager__prev, .pager__next
		background: $btn
		color: #fff
		font-weight: 700
		&:hover
			background: $btnh
	.pager__prev
		margin: 0 15px 0 0
	.pager__next
		margin: 0 0 0 15px

.filter
	.filter__head
		padding: 6px 0 10px 20px
	.filter__head-title, .filter__head-reset
		display: inline-block
	.filter__head-title
		margin-right: 20px
		+fn
		font-size: 16px
		font-weight: 700
	.filter__head-reset
		border-bottom: 1px dashed
		color: $btn
		line-height: 1
	.filter__item
		border-top: 1px solid #CCEBF4
		&:first-child
			border: none
	.filter__title
		padding: 10px 10px 10px 20px
		+fn
		font-size: 20px
		font-weight: 700
		line-height: 1.1
		color: $bll
		span
			+f
			font-size: 13px
			font-weight: 400
	.filter__list
		padding-bottom: 10px
		a
			display: block
			padding: 10px 10px 4px 20px
			+clr
			&:first-child
				margin: 0
			&:hover
				background: #CCEBF4
				span
					&:first-child
						text-decoration: underline
			&.is-active
				span
					&:first-child
						font-weight: 700
						color: $btn
		span
			float: right
			color: $btn
			line-height: 1
			&:first-child
				float: none
				display: inline-block
				overflow: hidden
				color: #000
		i
			position: relative
			top: 1px
			display: inline-block
			margin-left: 9px
			font-size: 10px
			vertical-align: top
			color: $blg 
	.filter__more
		margin-top: -5px
		padding: 0 10px 10px 20px

.share
	display: none
	position: absolute
	right: 0
	bottom: -10px
	padding: 20px
	background: #FFF
	box-shadow: 0 0 27px rgba(23, 116, 143, 0.35)
	z-index: 10
	.share__title
		margin-bottom: 15px
		+fn
		font-size: 20px
		font-weight: 700
		line-height: 1.1
		color: $blg
	.share__close
		position: absolute
		top: 20px
		right: 20px
		color: $blg 
		&:hover
			color: $btn 
		.icon
			font-size: 17px

.popup
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba($btn,.1)
	+vertical
	overflow: auto
	z-index: 999
	&.popup_remove
		.popup__in
			width: 300px
	.popup__in
		position: relative
		display: inline-block
		width: 520px
		padding: 18px 20px 25px
		background: #FFF
		box-shadow: 0 0 27px rgba(23, 116, 143, 0.35)
		vertical-align: middle
		font-size: 13px
		text-align: left
		z-index: 4 
	.popup__overlay
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100% 
	.popup__title
		margin: 0 50px 15px 0
		+fn
		font-size: 25px
		color: #000
		line-height: 1.1
		font-weight: 700
	.popup__text, .popup__content
		margin-bottom: 20px
		line-height: 1.5
	.popup__text
		color: $btn
	.popup__close
		position: absolute
		top: 24px
		right: 20px
		color: $blg 
		&:hover
			color: $btn
		.icon
			font-size: 17px
	.popup__footer-link
		padding: 20px
		text-align: center
		a
			text-decoration: underline
			&:hover
				color: $bll 
	.popup__code
		padding: 27px 10px 10px 0
		text-align: center
		li
			display: inline-block
			margin: 0 5px 17px
			span
				display: inline-block
				padding-left: 7px
				font-size: 25px
				font-weight: 700
				vertical-align: middle

.company
	margin-bottom: 30px
	+clr
	.company__logo
		float: left
		margin-right: 30px
		font-size: 0
	.company__logo_border
		float: none
		margin: 0 0 20px
		img
			border: 3px solid $ava
	.company__data
		float: left
		width: 300px
		p
			margin-bottom: 3px
			color: $blg
		a
			display: inline-block
			line-height: 1
			text-decoration: underline
			&.is-pseudo
				border-bottom: 1px dashed 
				text-decoration: none
			&:hover
				color: $bll 
	.company__info-item
		margin-top: 20px
		padding-top: 20px
		border-top: 1px solid #ccebf4
	.company__info-title
		margin-bottom: 20px
		+fn
		font-size: 20px
		font-weight: 700
		color: $bl
		line-height: 1.1
	.company__info-list
		li
			margin-top: 10px
			+clr
			&:first-child
				margin: 0
			&.is-active
				font-weight: 700
			a
				display: table
				&:hover
					color: $bll 
			.add
				float: right
				margin: -1px 0 -1px 20px

.map
	margin-bottom: 30px

.text
	margin-bottom: 45px
	font-size: 16px
	line-height: 1.9
	h3
		margin-bottom: 5px
		+fn
		color: $btn
		font-size: 20px

.content
	margin-bottom: 25px
	p
		margin-bottom: 10px
	blockquote
		position: relative
		margin: 25px 0 5px
		padding-left: 20px
		+fn
		font-size: 20px
		font-weight: 700
		color: $btn
		line-height: 1.5
		&:before
			content: "“"
			position: absolute
			top: -15px
			left: -10px
			font-size: 60px
		& + p
			margin: 0 0 25px 20px
	ul, ol
		display: table
		margin-bottom: 5px
		li
			position: relative
			padding-left: 17px
			margin-bottom: 10px
			&:before
				content: ""
				position: absolute
				left: 0
	ul
		li
			&:before
				top: 5px
				width: 5px
				height: 5px
				border-radius: 50%
				background: $blg
	ol
		counter-reset: list
		li
			&:before
				counter-increment: list
				content: counter(list)
				top: 0
				left: 0
				font-weight: 700
				color: $blg
	.content__block
		float: left
		width: 230px
		margin: 0 20px 20px 0
		img
			display: block
			margin-bottom: 35px
		p
			padding: 15px
			background: $bg


.slider
	margin-bottom: 50px
	.slider__head
		margin-bottom: 20px
		font-size: 0
		text-align: center
	.slider__prev, .slider__next, .slider__caption
		display: inline-block
		vertical-align: middle
	.slider__prev,
	.slider__next
		width: 27px
		height: 27px
		border-radius: 50%
		background: #41aac8 
		font-size: 0
		color: #E6F9FF 
		&:hover
			background: #e6f9ff
			color: #41aac8 
		.icon
			font-size: 13px
	.slider__caption
		padding: 0 40px
		font-size: 14px
		color: $bld
		font-weight: 700

.video
	margin-bottom: 40px

.why-we
	.why-we__title
		margin-bottom: 15px
		+title
	.text
		padding-left: 30px
		margin-bottom: 20px

.review
	margin-bottom: 40px
	+clr
	.review__ava
		float: left
		margin-right: 80px
		font-size: 0
	.review__data
		display: table
	.review__text
		position: relative
		margin-bottom: 10px
		+fn
		font-size: 20px
		font-weight: 700
		color: $btn
		line-height: 1.5
		&:before
			content: "“"
			position: absolute
			top: -15px
			left: -28px
			font-size: 60px

.posts
	.posts__main, .posts__full
		+clr
		.posts__pic
			float: left
		.posts__text
			font-size: 16px
			color: $btn
			line-height: 1.3
	.posts__main
		display: block
		margin-bottom: 50px
		&:hover
			text-decoration: none
			.posts__title
				color: $bll
				text-decoration: underline 
		.posts__pic
			margin: 0 25px 0 0
		.posts__title
			margin-bottom: 10px
		.posts__data
			display: table
	.posts__full
		.posts__pic
			margin: 0 25px 20px 0
		.posts__text
			margin-bottom: 10px
	.posts__list
		margin: 0 -50px 15px 0
		font-size: 0
		overflow: hidden
	.posts__item
		display: inline-block
		width: 230px
		margin: 0 20px 30px 0
		vertical-align: top
		font-size: 13px
		&:hover
			text-decoration: none
			.posts__title
				color: $bll
				text-decoration: underline 
	.posts__pic
		position: relative
		margin-bottom: 15px
		span
			position: absolute
			top: 0
			left: 0
			padding: 6px 10px
			background: $ava
			color: #fff
		img
			display: block
	.posts__title
		margin-bottom: 15px
		+title
	.posts__text
		color: #000
		line-height: 1.5

.back
	margin-bottom: 30px
	a
		display: inline-block
		text-decoration: underline
		&:hover
			color: $bll 

.meta
	margin-bottom: 30px
	color: $blg
	p
		margin-bottom: 3px

.likes
	margin-bottom: 25px
	font-size: 0
	.likes__item
		display: inline-block
		margin-left: 20px
		vertical-align: top
		&:first-child
			margin: 0
	.likes__item_twitter
		margin-right: -20px
		iframe
			display: block
			width: 100px!important

.ava
	float: left
	width: 44px
	height: 44px
	background: #FFF 
	margin-right: 20px
	font-size: 0
	text-align: center
	img
		display: block
		max-width: 100%
		max-height: 100%
		border: 3px solid $ava
	&.ava_big
		float: none
		width: 130px
		height: 130px
		margin: 0 0 20px
	&.ava_auto
		width: auto
		max-width: 300px
		height: auto

.comm
	margin-bottom: 40px
	.comm__list
		margin-bottom: 40px
		padding-left: 20px
	.comm__item
		margin-bottom: 25px
		+clr
		&:hover
			.comm__bad, .comm__good
				&:hover
					span
						font-weight: bold
				i
					opacity: 1
			.comm__good
				span
					color: #00b01e
			.comm__bad
				span
					color: #e01815
	.comm__in
		overflow: hidden
		.comm__form
			display: none
			padding-top: 10px
		.comm__form_main
			display: block
			padding: 0
	.comm__user
		margin-bottom: 5px
		font-weight: bold
	.comm__meta
		padding-bottom: 3px
		margin-bottom: 5px
		border-bottom: 1px solid
		color: $blg
		+clr
	.comm__date
		float: left
	.comm__rating
		float: right
	.comm__bad, .comm__good
		margin-left: 15px
		i, span
			display: inline-block
			vertical-align: middle
		i
			position: relative
			width: 11px
			margin-right: 5px
			opacity: 0
			&:before
				content: ""
				display: block
				width: 11px
				height: 3px
		span
			color: $blg
	.comm__bad
		i
			&:before
				background: #DF1714 
	.comm__good
		i
			&:before
				background: #00af1e
			&:after
				content: ""
				position: absolute
				top: -4px
				left: 4px
				width: 3px
				height: 11px
				background: #00AF1E 
	.comm__text
		margin-bottom: 3px
		line-height: 1.6
	.comm__reply-link
		a
			display: inline-block
			&:hover
				color: $bll 
	.comm__reply
		padding-left: 80px

.oneday
	margin-bottom: 30px
	+clr
	.oneday__pic
		float: left
		width: 480px
		margin-right: 20px
		font-size: 0
		img
			max-width: 100%
	.text
		margin: 0
		padding-top: 40px
		color: $bl
		clear: both
	.company
		float: left
		width: 230px
		margin: 0
	.company__logo
		float: none
		margin: 0 0 20px

.manager
	padding: 20px 20px
	margin-bottom: 30px
	background: $bg
	.manager__title
		margin-bottom: 10px
		+fn
		font-size: 20px
		font-weight: 700
		color: $bl
		line-height: 1.1
	.manager__data
		margin-bottom: 15px
		+clr
		.ava
			margin-right: 15px
	.manager__name
		display: table
	.manager__contacts
		li
			margin-top: 10px
			&:first-child
				margin: 0
		a
			&:hover
				color: $bll 
	.manager__number
		margin: 20px -20px -20px
		padding: 20px 15px 20px 20px
		background: $bl
		color: #FFF

.link-skype, .link-icq
	display: inline-block
	i, span
		display: inline-block
		vertical-align: middle
	i
		margin-right: 5px
	&:hover
		span
			text-decoration: underline
.link-skype
	i
		font-size: 17px
.link-icq
	i
		font-size: 18px

.serv
	&.serv_mb40
		margin-bottom: 40px
	.serv__item
		margin-bottom: 20px
	.serv__title
		a
			display: block
			padding: 10px 20px
			background: $blg
			line-height: 1.1
			&:hover
				background: $btn
				span
					text-decoration: underline
		span
			border-bottom: 1px solid transparent
			+fn
			font-size: 20px
			color: #FFF
			font-weight: 700
	.serv__in
		padding: 20px
		background: $bg
	.serv__content
		margin-bottom: 20px
		color: $btn
		line-height: 1.4
		ul
			margin-bottom: 10px
			font-size: 0
			li
				display: inline-block
				position: relative
				width: 50%
				padding: 0 20px
				font-weight: 700
				font-size: 13px
				vertical-align: top
				&:before
					content: ""
					position: absolute
					top: 6px
					left: 0
					width: 5px
					height: 5px
					background: $blg
					border-radius: 50%
	.serv__footer
		+clr
		.btn
			float: right
			width: 93px
			padding: 0
	.serv__price
		float: right
		width: 130px
		padding-right: 10px
		text-align: center
		+fn
		font-size: 20px
		color: $btn
		line-height: 40px
		font-weight: 700
	.serv__months
		overflow: hidden
		label
			position: relative
			float: left
			width: 33%
			border-right: 1px solid $bg
			&:hover
				>span
					color: $btn
			>input
				position: absolute
				top: 0
				left: 0
				visibility: hidden
				&:checked + span
					background: $btn
					color: #fff
			>span
				display: block
				line-height: 40px
				background: #FFF
				text-align: center
				color: $blg
				font-weight: 700
				cursor: pointer
	.serv__info
		padding: 10px 0
	.serv__article
		line-height: 1.6
		p
			margin-bottom: 10px 
		blockquote
			margin-bottom: 20px
			color: $blg
		ul
			font-size: 0
			li
				display: inline-block
				position: relative
				width: 50%
				padding: 0 20px
				margin-bottom: 10px
				font-size: 13px
				vertical-align: top
				&:before
					content: ""
					position: absolute
					top: 6px
					left: 0
					width: 5px
					height: 5px
					background: $blg
					border-radius: 50%
		img
			margin-bottom: 20px
			vertical-align: top
	.serv__acco-item
		margin-bottom: 20px
	.serv__acco-title
		&.is-active
			span
				color: $blg 
		span
			display: inline-block
			border-bottom: 2px dashed
			+fn
			font-size: 20px
			font-weight: 700
			color: #007292
			line-height: 1
			cursor: pointer
			&:hover
				color: $blg
	.serv__acco-in
		display: none
		padding-top: 10px
		color: $btnh 

.cart
	display: none
	.cart__in
		padding: 15px 20px 30px
		background: $btn
	.cart__item
		position: relative
		margin: 0 20px 15px 0
		padding-top: 15px
		border-top: 1px solid #4590a5
		color: #FFF
		&:first-child
			padding: 0
			border: none
	.cart__row
		+clr
		& + .cart__row
			margin-top: 15px
	.cart__sum, .cart__price
		float: right
		margin-left: 10px
	.cart__sum
		position: relative
		font-weight: 700
	.cart__price
		color: #aaddeb
	.cart__del
		position: absolute
		top: 3px
		right: -20px
		font-size: 0
		color: $blg 
		&:hover
			color: #FFF 
		.icon
			font-size: 10px
	.cart__value
		position: relative
		top: -2px
		overflow: hidden
	.cart__plus, .cart__minus, .cart__value-in
		display: inline-block
		vertical-align: middle
	.cart__value-in
		width: 47px
		text-align: center
	.cart__plus,
	.cart__minus
		font-size: 0
		color: $blg
		&:hover
			color: #fff
		.icon
			font-size: 16px
	.cart__total
		margin: 35px 0 25px
		padding-top: 10px
		border-top: 1px solid #fff
		+fn
		font-size: 20px
		line-height: 1.1
		font-weight: 700
		color: #fff
		+clr
	.cart__total-value
		float: right
		margin-left: 10px
	.btn_white
		&:hover
			background: #E6F9FF

.servmore
	.servmore__title
		margin-bottom: 3px
		+fn
		font-size: 20px
		font-weight: 700
		line-height: 1.1
		color: $blg
	.servmore__title-sub
		color: $btn
	.servmore__item
		padding: 10px 20px
		background: $bg
		+clr
		.btn
			float: right
			width: 100px
	.servmore__price
		float: right
		width: 130px
		padding-top: 10px
		+title
	.servmore__type
		padding-top: 10px
		+title
		overflow: hidden
	.servmore__info
		padding: 15px 20px 5px
		color: $btn
		ul
			li
				position: relative
				padding-left: 15px
				&:before
					content: ""
					position: absolute
					top: 5px
					left: 0
					width: 5px
					height: 5px
					border-radius: 50%
					background: $blg
	.servmore__info_more
		padding: 15px 0 5px
		color: $blg

.prof
	.prof__nik
		margin-bottom: 10px
		color: $btn
	.prof__title
		margin-bottom: 20px
		+fn
		font-size: 20px
		line-height: 1.1
		color: $blg
		font-weight: 700
	.prof__list
		margin-bottom: 30px
		li
			margin-top: 7px
			+clr
			&:first-child
				margin: 0
			&.is-active
				>a
					font-weight: 700
			.add
				float: right
		a
			&:hover
				color: $bll 

.subvac
	.subvac__head
		padding: 12px 20px
		background: $bg
		+clr
		.action-wrap
			float: right
	.subvac__links
		overflow: hidden
		li
			float: left
			margin-left: 25px
			&:first-child
				margin: 0
		a
			&:hover
				color: $bll 
	.subvac__info
		padding: 12px 20px 22px
		+clr
	.subvac__salary
		float: right
		width: 130px
		margin-left: 20px
		font-size: 15px
		font-weight: 700
		color: $bll
	.subvac__details
		display: table
		p
			margin-bottom: 3px
		span
			color: $blg

.promosv
	margin-bottom: 35px
	.promosv__text
		margin-bottom: 20px
		font-size: 16px
		color: $btn
	.promosv__go
		margin-bottom: 10px
		.btn
			margin-right: 25px
		span
			display: inline-block
			+fn
			font-size: 20px
			font-weight: 700
			color: $btn
	.promosv__info
		margin-bottom: 30px
		font-size: 11px
		color: $ava
	.promosv__how
		+clr
	.promosv__before
		float: left
	.promosv__after
		float: right

.rev
	margin-bottom: 35px
	.rev__item
		padding-top: 25px
		margin-top: 25px
		border-top: 1px solid #CCEBF4
		+clr
		&:first-child
			padding: 0
			margin: 0
			border: none
	.rev__info
		display: table
	.rev__user
		margin-bottom: 10px
		a
			font-weight: 700
			text-decoration: underline
			&:hover
				color: $bll 

.my
	.my__head
		margin-bottom: 15px
		+clr
		.checkbox
			float: right
			margin: 0 0 0 20px
	.my__types
		display: table
		padding: 4px 0
		li
			display: inline-block
			margin-left: 20px
			&:first-child
				margin: 0
			&.is-active
				a
					font-weight: 700
					color: $btn
					text-decoration: none
					cursor: default
		a
			color: $blg
			&:hover
				color: $btn
	.my__stats
		margin-bottom: 20px
		padding: 12px 20px
		background: $bg
		+clr
		.action-wrap
			float: right
	.my__stats-list
		display: table
		li
			display: inline-block
			margin-left: 30px
			&:first-child
				margin: 0
		a
			&:hover	
				color: $bll 
	.my__el
		margin-bottom: 40px
		padding-left: 20px
		+clr
	.my__el-right
		float: right
		width: 100px
		padding-right: 20px
	.my__el-salary
		margin-bottom: 5px
		color: $bll
		font-size: 15px
		font-weight: 700
	.my__el-status, .my__el-upd
		color: $blg
	.my__el-details
		display: table
	.ava
		margin-left: -20px

.tabs
	.tabs__head
		border-bottom: 10px solid $bll
		+clr
	.tabs__list
		float: left
		li
			float: left
			&.is-active
				a
					background: $bll
					box-shadow: 0 1px 0 0 $bll
					color: #fff
					font-weight: 700
					text-decoration: none
					cursor: default
		a
			display: block
			padding: 12px 20px
			color: $bll
			&:hover
				background: $bg
				color: $btn 

.responce
	margin-bottom: 30px
	&.responce_mt30
		margin-top: 30px
	&.responce_history
		.responce__company
			float: right
			max-width: 400px
			margin-left: 20px
			line-height: 22px
	.responce__item
		padding-top: 20px
		margin-top: 20px
		border-top: 1px solid #ccebf4
		&:first-child
			margin: 0
			padding: 0
			border: none
	.responce__head
		margin: 0 20px 20px 0
		+clr
		.action
			float: right
			margin: 5px 0 0 15px
	.responce__salary
		float: right
		width: 100px
		line-height: 24px
		font-weight: 700
		color: $bll
	.responce__date, .responce__company
		display: inline-block
	.responce__date, .responce__company, .responce__status
		color: $blg
		a
			color: $btn
	.responce__status
		margin-top: 3px
	.responce__date
		padding-right: 20px

.respond
	margin-bottom: 30px
	&.respond_mt30
		margin-top: 30px
	.respond__item
		margin-bottom: 40px
	.respond__head
		margin-bottom: 20px
		+clr
		.action-wrap
			float: right
			padding: 6px 20px 0 20px
	.respond__price
		float: right
		width: 180px
		margin-left: 20px
		+fn
		font-size: 20px
		color: $bll
		font-weight: 700
	.respond__data
		display: table
		padding-top: 5px
	.respond__name
		margin-bottom: 5px
	.respond__info
		color: $blg
	.respond__content
		margin-bottom: 20px
	.respond__action
		padding: 15px 20px
		background: $bg
		font-size: 0
		a
			display: inline-block
			margin-left: 35px
			font-size: 0
			line-height: 1
			vertical-align: middle
			&:first-child
				margin: 0
			&:hover
				span
					text-decoration: underline
			&.is-active

			i, span
				display: inline-block
				vertical-align: middle
			i
				margin-right: 7px
			span
				padding-top: 3px
				font-size: 13px
	.icon
		font-size: 15px

.steps
	.steps__nav
		margin-bottom: 30px
		font-size: 0
		text-align: center
		li
			position: relative
			display: inline-block
			width: 16.666%
			padding: 0 10px
			vertical-align: top
			text-decoration: none
			&:before
				content: ""
				position: absolute
				top: 13px
				left: 0
				right: 0
				height: 2px
				background: $bll
			&.is-active
				span
					font-weight: bold
					color: $bll
					&:first-child
						background: $bll
						color: #FFF
			span
				position: relative
				display: block
				text-align: center
				font-size: 13px
				color: $blg
				z-index: 2
				&:first-child
					display: inline-block
					width: 28px
					height: 28px
					margin-bottom: 15px
					border: 2px solid $bll
					border-radius: 50%
					background: #FFF
					font-size: 15px
					color: $bll
					line-height: 24px
					vertical-align: top
	.step__item
		display: none

.mylists
	position: relative
	padding: 20px
	margin-bottom: 30px
	background: $blg
	&:before
		content: ""
		position: absolute
		top: 8px
		left: -19px
		+arr(20,40,$blg,l)
	.mylists__add, .mylists__item
		overflow: hidden
		button
			float: right
			font-size: 0
			.icon
				font-size: 16px
				color: #fff  
		a, span
			display: table
			color: #fff
	.mylists__add
		margin-bottom: 15px
	.mylists__item
		margin-top: 15px
	.mylists__title
		padding: 15px 0
		border: 1px solid #a4ceda
		border-width: 1px 0
		color: $btnh
		font-weight: 700

.favsv
	margin-bottom: 30px
	.favsv__item
		margin-bottom: 15px
	.favsv__in
		padding: 15px 20px 10px
		background: $bg
	.favsv__date
		margin-bottom: 20px
		color: $blg
	.favsv__info
		+clr
	.favsv__salary
		float: right
		width: 90px
		margin-left: 15px
		font-size: 15px
		font-weight: 700
		color: $bll
	.favsv__fav
		float: right
		margin: 1px 0 0 15px
		color: $blg
		&:hover
			color: $bl
	.favsv__new-window
		float: right
		margin: 1px 0 0 15px
		color: $blg
		&:hover
			color: $bl 
	.favsv__user
		display: table
		padding-top: 2px
		color: $blg
	.favsv__foot
		padding: 5px 10px
		background: $blg
		+clr
	.btn
		float: right
		width: 125px
	.select
		float: left
		width: 325px
		background: #FFF
	.ava
		margin-right: 15px

.mycomp
	.mycomp__item
		margin-bottom: 20px
		border: 1px dashed $ava
	.mycomp__item_main
		padding: 20px
		+clr
	.mycomp__head
		padding: 10px 10px 10px 20px
		+clr
	.mycomp__toggle
		float: right
		margin-left: 20px
		width: 27px
		height: 27px
		background: $bg
		color: $blg 
		font-size: 0
		&:hover
			color: $bl 
		&.is-active
			.icon-minus
				display: none
			.icon-plus
				display: block
		.icon
			font-size: 17px
		.icon-plus
			display: none
	.mycomp__in
		padding: 0 40px 30px 20px
	.mycomp__layout
		+clr
	.mycomp__column
		float: right
		width: 480px
		&:first-child
			float: left
			width: 170px
		.file
			height: 191px
	.mycomp__photos
		margin: 0 -30px -20px 0
		font-size: 0
		li
			display: inline-block
			width: 210px
			margin: 0 20px 20px 0
			vertical-align: top
	.edit
		float: right
		margin-left: 20px
	.company
		display: table
		margin-bottom: 20px
	.h
		display: table
		padding: 3px 0 2px
	.file
		padding: 20px
		height: 120px
		font-size: 13px

.actserv
	.actserv__head
		padding: 0 0 20px 20px
		font-size: 0
		color: $blg
		cursor: pointer
		+nosel
	.actserv__title,
	.actserv__date
		display: inline-block
		vertical-align: middle
	.actserv__title,
	.actserv__date
		font-size: 13px
	.actserv__title
		width: 400px
		margin: 0 20px 0 0
		span
			display: inline-block
			margin: 0 10px 0 0
			vertical-align: middle
	.actserv__date
		width: 120px
		margin-right: 20px
	.actserv__item
		margin-bottom: 20px
		.actserv__head
			padding: 15px 0 15px 20px
			background: $bg
			&.is-active
				background: $btn
				color: #FFF
				span
					color: #FFF
	.actserv__in
		display: none
		padding: 10px 20px
		background: $bg
		color: $btn
		span, ul
			display: table-cell
			padding-right: 20px
			vertical-align: top

.account
	.account__status
		margin-bottom: 25px
		font-weight: 700
		color: $blg
		span
			&.is-red
				color: #d51051
	.account__table
		margin-bottom: 30px
	.account__row
		margin-bottom: 20px
		padding: 15px 0
		background: $bg
		color: $btn
		+clr
	.account__row_head
		padding: 0
		background: none
		color: $blg
		.account__title, .account__price
			font-weight: 400
			color: $blg
			font-size: 13px
	.account__row_total
		padding: 0
		background: none
	.account__number,
	.account__title,
	.account__price,
	.account__price_title
		float: left
	.account__number
		width: 70px
		padding: 0 20px
	.account__title
		width: 550px
		padding-right: 20px
		font-weight: 700
		a
			&:hover
				color: $bll 
	.account__price
		width: 90px
		font-size: 15px
		font-weight: 700
		color: $bll
	.account__price_title
		width: 620px
		padding-right: 10px
		text-align: right
		color: $blg
